*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dfex{
  display: flex;
}


 .container{
  display: flex;
  max-width: 1000px;
 }

 .headertop{
  background-color: orange;
  width: 100%;
  position: fixed;
  height: 50px;
  left: 0;
  right: 0;
 }

 .top{
  justify-content: space-between;
  align-items: center;
 }

 .headertop .logo{
  width: 30px;
  height: 20px;
  justify-content: center;

 }