*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dfex{
  display: flex;
}
.container{
  display: flex;
  max-width: 800px;
  margin: 0 auto;
 }
 .container.top{
  justify-content: space-between;
  align-items: center;
 }
.navbar{
  display: block;
  background-color: orange;
  width: 100%;
  position: fixed;
  height:50px;
  left: 0;
  right: 0;
 }
 .logo{
  width: 100px;
 }
.navbar span {
  margin: 10 15px;
  cursor: pointer;
  color: aliceblue;
}
.logo img {
  width: 100px;
  margin: 20px auto;
  display: block;
}